<div class="hidden" id="modal-content">
    <div id="confirm-cancel-amendment">
        <p class="govuk-body-s">
            Are you sure you want to cancel this amendment?
        </p>
        <div class="app-modal__button-row">
            <button class="govuk-button app-modal__button-positive">Yes</button>
            <button class="govuk-button app-modal__button-negative">No</button>
        </div>
    </div>
</div>
