<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="Amendments" asp-action="Clear" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>
<partial name="_CancelModalContent" />
