@model Dfe.CspdAlpha.Web.Application.Models.Common.CheckDataNavigation
<div class="govuk-grid-column-full">
    <nav>
        <ul>
            @foreach (var navigationItem in Model.NavigationItems)
            {
                <li class="@(navigationItem.Active ? "active": string.Empty)">
                    <a asp-controller="@navigationItem.Controller" asp-action="Index">@navigationItem.Label</a>
                </li>
            }
        </ul>
    </nav>
</div>