@using Dfe.CspdAlpha.Web.Application.Models.Common
@model ConfirmDataBanner
@if (!Model.DataConfirmed)
{

<div class="app-banner app-banner--information">
    <p>
        You need to confirm your data for Key stage 4.<br/>
        <a asp-controller="School" asp-action="ConfirmData">Confirm your data</a>
    </p>
</div>

}
