@using Dfe.CspdAlpha.Web.Application.Models.School
@model SchoolDetails
    <dl class="govuk-summary-list app-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.SchoolName
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                URN
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.URN
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                LA establishment number
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.LAEstab
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                School type
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.SchoolType
            </dd>
        </div>
    </dl>
