@model Dfe.Rscd.Web.Application.Models.ViewModels.Amendments.AmendmentsListViewModel
@{
    ViewBag.Title = "Requested amendments";
    ViewBag.ContentClass = "app-detail-page-main";
}

@section BackLink
{
    <text>&nbsp;</text>
}

<partial name="_CheckDataNavigation" model="@Model.CheckDataNavigationModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
    <div class="govuk-grid-column-one-quarter app-align-right govuk-!-padding-bottom-4">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>
</div>

@if (Model.AmendmentList.Any())
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <partial name="./Partial/_AmendmentsTable_@Model.CheckingWindow.ToString().ToLower()" model="@Model.AmendmentList" />
        </div>
    </div>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p>You have not requested any amendments.</p>
        </div>
    </div>

}


<partial name="_CancelModalContent"/>

