@model Dfe.Rscd.Web.Application.Models.ViewModels.Amendments.ReceivedViewModel
@{
    ViewData["Title"] = "Requested amendment received";
}

@section BackLink
{
    &nbsp;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full app-align-right govuk-!-margin-bottom-2">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                @ViewBag.Title
            </h1>
            <div class="govuk-panel__body">
                Your reference number<br><strong>@Model.NewAmendmentRef</strong>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-4">
        <h2 class="govuk-heading-l">What happens next</h2>
        <p class="govuk-body">
            Your requested amendment has now been referred to the helpdesk team.
        </p>
        <p class="govuk-body">
            The outcome of your request will be made available in the next checking exercise or data share window.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            <a asp-controller="TaskList" asp-action="Index">View task list to request further amendments or to confirm your data</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            <a asp-controller="Amendments" asp-action="Index">View all requested amendments</a>
        </p>
    </div>
</div>
