@model bool
    <ul class="app-task-list__items">
        @if (Model)
        {
            <li class="app-task-list__item">
                <span class="app-task-list__task-name"><a asp-controller="Results" asp-action="Add">Request to add results data</a></span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name"><a asp-controller="Results" asp-action="AmendReason">Request to amend/remove results data</a></span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
        }
        else
        {
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to add results data</span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to amend/remove results data</span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
        }
    </ul>
