@model bool
    <ul class="app-task-list__items">
        @if (Model)
        {
            <li class="app-task-list__item">
                <span class="app-task-list__task-name"><a asp-controller="Pupil" asp-action="Add">Request to add a pupil</a></span>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name"><a asp-controller="Pupil" asp-action="Remove">Request to remove an incorrect pupil</a></span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name"><a asp-controller="Pupil" asp-action="RemoveFromResults">Request to remove a pupil from school measures</a></span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
        }
        else
        {
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to add a pupil</span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to remove an incorrect pupil</span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to remove a pupil from school measures</span>
                <span class="app-task-list__tag">Cannot start yet</span>
            </li>
        }
    </ul>
