@model Dfe.CspdAlpha.Web.Application.Models.ViewModels.ServiceViewModel
@{
    ViewBag.Title = "Service provided";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back to service homepage</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@ViewBag.Title</h1>
    </div>
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">Lorem ipsum...</p>
    </div>
</div>
<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                            Select one
                        </h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item app-radios-multiline__item">
                            <input class="govuk-radios__input" id="select-a-service-1" name="select-a-service" type="radio" value="1">
                            <label class="govuk-label govuk-radios__label" for="select-a-service-1">
                                Check my data
                                <span class="app-radios-multiline__label-row">
                                    Here you can review, add or amend your data
                                </span>
                            </label>
                        </div>
                        <div class="govuk-radios__item app-radios-multiline__item">
                            <input class="govuk-radios__input" id="select-a-service-2" name="select-a-service" type="radio" value="2">
                            <label class="govuk-label govuk-radios__label" for="select-a-service-2">
                                Request a pupil exception
                                <span class="app-radios-multiline__label-row">
                                    Here you can request to remove a pupil
                                </span>
                            </label>
                        </div>
                        <div class="govuk-radios__item app-radios-multiline__item">
                            <input class="govuk-radios__input" id="select-a-service-3" name="select-a-service" type="radio" value="3">
                            <label class="govuk-label govuk-radios__label" for="select-a-service-3">
                                View early data access
                                <span class="app-radios-multiline__label-row">
                                    Here you can have early access to your data
                                </span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>