@using Dfe.Rscd.Web.ApiClient
@model Dfe.Rscd.Web.Application.Models.ViewModels.RemovePupil.ReasonViewModel

@foreach (var reason in Model.Reasons.OrderBy(x=>x.Order))
{
    <div class="govuk-radios__item">
        <input type="radio" asp-for="SelectedReasonCode" id="SelectedReason-@reason.ReasonId" value="@reason.ReasonId" class="govuk-radios__input" />
        <label class="govuk-label govuk-radios__label" for="SelectedReason-@reason.ReasonId">
            @reason.Description
        </label>
    </div>
}
