@{
    ViewData["Title"] = "Confirm your data";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="School" asp-action="Index">Back to school performance</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>
    <div class="govuk-grid-column-full">
        <p class="govuk-body">Your data is currently classified as not checked</p>
    </div>
</div>
<form action="DataConfirmed" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Confirm data" />
        </div>
    </div>
</form>
