@model Dfe.CspdAlpha.Web.Application.Models.ViewModels.RemovePupil.SearchPupilsViewModel
@{
    ViewBag.Title = $"Search for a {Model.PersonLowercase} to request to remove";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="TaskList" asp-action="Index">Back</a>
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewBag.Title</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="./Partial/_SearchOptions_@Model.CheckingWindow.ToString().ToLower()" model="@Model" />
    </div>
</div>
