@model Dfe.CspdAlpha.Web.Application.Models.ViewModels.RemovePupil.SearchPupilsViewModel
@{
    ViewBag.Title = "Search for a student to request to remove";
}
@section BackLink
{
    <a class="govuk-back-link" asp-controller="TaskList" asp-action="Index">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@ViewBag.Title</h1>
    </div>
</div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <form method="post">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="SearchType" id="SearchType-PupilID" type="radio" value="PupilID" data-aria-controls="conditional-SearchType-conditional">
                            <label class="govuk-label govuk-radios__label" for="SearchType-PupilID">
                                UPN (Unique Pupil Number) or<br />
                                ULN (Unique Learner Number)
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-SearchType-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="PupilID">
                                    Enter a UPN or ULN
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" asp-for="PupilID" type="text">
                                <input type="submit" class="govuk-button" data-module="govuk-button" value="Submit" />
                            </div>
                        </div>
                    </form>
                    <form method="post">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="SearchType" id="SearchType-Name" type="radio" value="Name" data-aria-controls="conditional-SearchType-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="SearchType-Name">
                                Student name
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-SearchType-conditional-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="Name">
                                    Enter a student name
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" asp-for="Name" type="text">
                                <input type="submit" class="govuk-button" data-module="govuk-button" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
