@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.RemovePupil
@model SubReasonViewModel
@{
    ViewData["Title"] = "Select a sub reason for request to remove a student";
}

@section BackLink
{
    <a class="govuk-back-link" asp-action="Reason">Back</a>
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewData["Title"]</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View pupil details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetailsView" model="@Model.PupilDetails" />
            </div>
        </details>
    </div>
</div>

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-form-group" asp-for="SelectedReason">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-legend govuk-fieldset__legend--s govuk-!-margin-bottom-4">
                        Select one
                    </legend>
                    <div class="govuk-radios" asp-for="SelectedReason">
                        @foreach (var reason in Model.Reasons)
                        {
                            <div class="govuk-radios__item">
                                <input type="radio" asp-for="SelectedReason" id="SelectedReason-@reason.Key" value="@reason.Key" class="govuk-radios__input" />
                                <label class="govuk-label govuk-radios__label" for="SelectedReason-@reason.Key">
                                    @reason.Value
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="TaskList" asp-action="Index" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>
<partial name="_CancelModalContent" />

