@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.AddPupil
@model AddPupilViewModel

@{
    ViewData["Title"] = "Request to add a pupil";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="TaskList" asp-action="Index">Back</a>
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>

<form method="post" novalidate>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="SchoolID">
                    Previous school URN (Unique Reference Number) or LAESTAB (Local Authority Establishment Number) (optional)
                </label>
                <div class="govuk-hint">For example: URN 123456, LAESTAB 1234567</div>
                <input class="govuk-input govuk-input--width-20" asp-for="SchoolID" type="text">
            </div>
            <div class="govuk-form-group" asp-for="UPN">
                <label class="govuk-label" asp-for="UPN">
                    UPN (Unique Pupil Number) (optional)
                </label>
                <input class="govuk-input govuk-input--width-20" asp-for="UPN" type="text">
            </div>
            <div class="govuk-form-group" asp-for="FirstName">
                <label class="govuk-label" asp-for="FirstName">
                    First name
                </label>
                <input class="govuk-input govuk-input--width-20" asp-for="FirstName" type="text">
            </div>
            <div class="govuk-form-group" asp-for="LastName">
                <label class="govuk-label" asp-for="LastName">
                    Last name
                </label>
                <input class="govuk-input govuk-input--width-20" asp-for="LastName" type="text">
            </div>
            <div class="govuk-form-group" asp-for="DateOfBirth">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading  govuk-!-font-weight-regular">
                            Date of birth
                        </h2>
                    </legend>
                    <div class="govuk-hint">For example: 12 11 2007</div>
                    <div class="govuk-date-input" id="date-of-birth" asp-for="DateOfBirth">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateOfBirth.Day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateOfBirth.Day" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateOfBirth.Month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateOfBirth.Month" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateOfBirth.Year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="DateOfBirth.Year" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group" asp-for="Gender">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading govuk-!-font-weight-regular">
                            Gender
                        </h2>
                    </legend>
                    <div class="govuk-radios" asp-for="Gender">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Gender-Male" asp-for="Gender" type="radio" value="Male">
                            <label class="govuk-label govuk-radios__label" for="Gender-Male">
                                Male
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Gender-Female" asp-for="Gender" type="radio" value="Female">
                            <label class="govuk-label govuk-radios__label" for="Gender-Female">
                                Female
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group" asp-for="DateOfAdmission">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading  govuk-!-font-weight-regular">
                            Admission date
                        </h2>
                    </legend>
                    <div class="govuk-hint">For example: 12 11 2007</div>
                    <div class="govuk-date-input" id="date-of-admission" asp-for="DateOfAdmission">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateOfAdmission.Day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateOfAdmission.Day" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateOfAdmission.Month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateOfAdmission.Month" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateOfAdmission.Year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="DateOfAdmission.Year" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group" asp-for="YearGroup">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading govuk-!-font-weight-regular">
                            Year group
                        </h2>
                    </legend>
                    <div class="govuk-radios" asp-for="YearGroup">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="YearGroup-7" asp-for="YearGroup" type="radio" value="7">
                            <label class="govuk-label govuk-radios__label" for="YearGroup-7">
                                7
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="YearGroup-8" asp-for="YearGroup" type="radio" value="8">
                            <label class="govuk-label govuk-radios__label" id="YearGroup-8">
                                8
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="YearGroup-9" asp-for="YearGroup" type="radio" value="9">
                            <label class="govuk-label govuk-radios__label" for="YearGroup-9">
                                9
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="YearGroup-10" asp-for="YearGroup" type="radio" value="10">
                            <label class="govuk-label govuk-radios__label" for="YearGroup-10">
                                10
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="YearGroup-11" asp-for="YearGroup" type="radio" value="11">
                            <label class="govuk-label govuk-radios__label" for="YearGroup-11">
                                11
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="TaskList" asp-action="Index" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>

<partial name="_CancelModalContent" />
