.app-summary-list {
  font-size: 16px;

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    border-bottom: none;
    width: auto;
    float: left;
    font-weight: normal;

    @include govuk-media-query($until: tablet){
      float: none;
    }
  }
}
