@using Dfe.CspdAlpha.Web.Application.Models.Common
@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model PupilViewModel

@{
    ViewData["Title"] = "Request to add a pupil";
    var showError = !ViewData.ModelState.IsValid;
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="TaskList" asp-action="Index">Back</a>
}

@if (showError)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#UPN">Enter a valid UPN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="SchoolID">
                        URN (Unique Reference Number) or LAESTAB (Local Authority Establishment Number) or previous school (optional)
                        <span class="label-example">For example: URN 123456, LAESTAB 1234567</span>
                    </label>
                    <input class="govuk-input govuk-input--width-20" asp-for="SchoolID" type="text">
                </div>
                <div class="govuk-form-group @(showError ? "govuk-form-group--error" : string.Empty)">
                    <label class="govuk-label" asp-for="UPN">
                        UPN (Unique Pupil Number) (optional)
                    </label>
                    @if (showError)
                    {
                        <span id="UPN-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter a valid UPN
                        </span>
                    }
                    <input class="govuk-input govuk-input--width-20" asp-for="UPN" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="FirstName">
                        First name
                    </label>
                    <input class="govuk-input govuk-input--width-20" asp-for="FirstName" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="LastName">
                        Last name
                    </label>
                    <input class="govuk-input govuk-input--width-20" asp-for="LastName" type="text">
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading  govuk-!-font-weight-regular">
                                Date of birth
                            </h2>
                        </legend>
                        <div class="govuk-date-input" id="date-of-birth">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DayOfBirth">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DayOfBirth" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="MonthOfBirth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="MonthOfBirth" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="YearOfBirth">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="YearOfBirth" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading govuk-!-font-weight-regular">
                                Gender
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Gender-Male" name="Gender" type="radio" value="Male">
                                <label class="govuk-label govuk-radios__label" for="Gender-Male">
                                    Male
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Gender-Female" name="Gender" type="radio" value="Female">
                                <label class="govuk-label govuk-radios__label" for="Gender-Female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading  govuk-!-font-weight-regular">
                                Admission date
                            </h2>
                        </legend>
                        <div class="govuk-date-input" id="date-of-admission">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DayOfAdmission">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DayOfAdmission" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="MonthOfAdmission">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="MonthOfAdmission" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="YearOfAdmission">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="YearOfAdmission" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading govuk-!-font-weight-regular">
                                Year group
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YearGroup-7" name="YearGroup" type="radio" value="7">
                                <label class="govuk-label govuk-radios__label" for="YearGroup-7">
                                    7
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YearGroup-8" name="YearGroup" type="radio" value="8">
                                <label class="govuk-label govuk-radios__label" for="YearGroup-8">
                                    8
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YearGroup-9" name="YearGroup" type="radio" value="9">
                                <label class="govuk-label govuk-radios__label" for="YearGroup-9">
                                    9
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YearGroup-10" name="YearGroup" type="radio" value="10">
                                <label class="govuk-label govuk-radios__label" for="YearGroup-10">
                                    10
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YearGroup-11" name="YearGroup" type="radio" value="11">
                                <label class="govuk-label govuk-radios__label" for="YearGroup-11">
                                    11
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="TaskList" asp-action="Index" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>

<partial name="_CancelModalContent" />
