@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@model AddPupilAmendmentViewModel
@{
    ViewData["Title"] = "Upload evidence for " + Model.AddPupilViewModel.FullName;
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Pupil" asp-action="AddResult">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View pupil details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetails" model="@Model.AddPupilViewModel" />
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
<form method="post"  enctype="multipart/form-data">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios">
                                <div class="govuk-radios__item app-radios-multiline__item">
                                    <input class="govuk-radios__input" asp-for="SelectedEvidenceOption" type="radio" value="UploadNow">
                                    <label class="govuk-label govuk-radios__label" for="SelectedEvidenceOption">
                                        I will provide electronic evidence now
                                    </label>
                                </div>
                                <div class="govuk-radios__item app-radios-multiline__item">
                                    <input class="govuk-radios__input" asp-for="SelectedEvidenceOption" type="radio" value="UploadLater">
                                    <label class="govuk-label govuk-radios__label" for="SelectedEvidenceOption">
                                        I will provide electronic evidence before 5pm on DD/MM/YYYY
                                    </label>
                                </div>
                                <div class="govuk-radios__item app-radios-multiline__item">
                                    <input class="govuk-radios__input"  asp-for="SelectedEvidenceOption" type="radio" value="NotRequired">
                                    <label class="govuk-label govuk-radios__label" for="">
                                        I don't need to provide electronic evidence
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-action="CancelAmendment" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>
<partial name="_CancelModalContent"/>

