@using Dfe.CspdAlpha.Web.Application.Models.Common
@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@model AddPupilViewModel

@{
    var isNewPupil = @Model.AddReason.ToString() == "New";

    ViewData["Title"] = Model.AddReason == AddReason.New ?
        "Add a new pupil (not on any school roll)" :
        "Add an existing pupil (previously on roll at another school)";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Pupil" asp-action="AddReason">Back</a>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <input type="hidden" asp-for="AddReason" value="@Model.AddReason" />
                @if (Model.AddReason == AddReason.Existing)
                {
                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="LAEstab">
                            LAEstab of previous school
                        </label>
                        <input class="govuk-input govuk-input--width-20" asp-for="LAEstab" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="PupilId">
                            Pupil ID (optional)
                        </label>
                        <input class="govuk-input govuk-input--width-20" asp-for="PupilId" type="text">
                    </div>
                }
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="FirstName">
                        First name
                    </label>
                    <input class="govuk-input govuk-input--width-20" asp-for="FirstName" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="LastName">
                        Last name
                    </label>
                    <input class="govuk-input govuk-input--width-20" asp-for="LastName" type="text">
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading  govuk-!-font-weight-regular">
                                Date of birth
                            </h2>
                        </legend>
                        <div class="govuk-date-input" id="date-of-birth">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DayOfBirth">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DayOfBirth" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="MonthOfBirth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="MonthOfBirth" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="YearOfBirth">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="YearOfBirth" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading govuk-!-font-weight-regular">
                                Gender
                            </h2>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="Gender" type="radio" value="Male">
                                <label class="govuk-label govuk-radios__label" asp-for="Gender">
                                    Male
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="Gender" type="radio" value="Female">
                                <label class="govuk-label govuk-radios__label" asp-for="Gender">
                                    Female
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading  govuk-!-font-weight-regular">
                                Admission date
                            </h2>
                        </legend>
                        <div class="govuk-date-input" id="date-of-admission">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DayOfAdmission">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DayOfAdmission" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="MonthOfAdmission">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="MonthOfAdmission" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="YearOfAdmission">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="YearOfAdmission" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="YearGroup">
                        Year group
                    </label>
                    <select class="govuk-select govuk-input--width-20" asp-for="YearGroup" type="text">
                        <option>Please select</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="PostCode">
                        Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-20" asp-for="PostCode" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue"/>
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="TaskList" asp-action="Index" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>

<partial name="_CancelModalContent"/>
