@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@model AddPupilAmendmentViewModel
@{
    ViewData["Title"] = "Inclusion details";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Pupil" asp-action="@Model.SelectedEvidenceBackOption">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View pupil details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetails" model="@Model.AddPupilViewModel" />
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" asp-for="InclusionConfirmed" type="checkbox" value="true">
                            <label class="govuk-label govuk-checkboxes__label" asp-for="InclusionConfirmed">
                                Add this unlisted pupil to the performance table
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Next" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-action="CancelAmendment" class="app-modal__canel-link">Cancel amendment</a>
    </div>
</div>
<partial name="_CancelModalContent"/>
