@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@model AddPupilAmendmentViewModel
@{
    ViewData["Title"] = "Inclusion details";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Pupil" asp-action="ConfirmAddPupil">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Do you want to add this pupil to the performance tables?</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View pupil details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetails" model="@Model.AddPupilViewModel" />
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h2 class="govuk-heading-s">Select one</h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="InclusionConfirmed-true" name="InclusionConfirmed" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="InclusionConfirmed-true">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="InclusionConfirmed-false" name="InclusionConfirmed" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="InclusionConfirmed-false">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Submit" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="TaskList" asp-action="Index" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>
<partial name="_CancelModalContent"/>
