@using Dfe.CspdAlpha.Web.Application.Models.Common
@model Dfe.CspdAlpha.Web.Application.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
}
@section BackLink
{
    <text>&nbsp;</text>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@Constants.APP_TITLE</h1>
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
<form method="post">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading">
                        Select a key stage
                    </h2>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item app-radios-multiline__item">
                        <input class="govuk-radios__input" id="select-a-key-stage-ks4" name="select-a-key-stage" type="radio" value="ks4">
                        <label class="govuk-label govuk-radios__label" for="select-a-key-stage-ks4">
                            Key stage 4
                            <span class="app-radios-multiline__label-row">@Model.CheckingStageText</span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
    </div>
</div>
</form>
