@using Dfe.Rscd.Web.Application.Models.Common
@model Dfe.Rscd.Web.Application.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
}
@section BackLink
{
    <text>&nbsp;</text>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@Constants.APPLICATION_TITLE</h1>
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
<form method="post">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading">
                        Select a key stage
                    </h2>
                </legend>
                <div class="govuk-radios">
                    <feature name="KS4-June">
                        <div class="govuk-radios__item app-radios-multiline__item">
                            <input class="govuk-radios__input" asp-for="SelectedKeyStage" id="SelectedKeyStage-KS4-June" type="radio" value="kS4-June">
                            <label class="govuk-label govuk-radios__label" for="SelectedKeyStage-KS4-June">
                                Key stage 4
                                <span class="app-radios-multiline__label-row">Key stage 4 June checking exercise</span>
                            </label>
                        </div>
                    </feature>
                    <feature name="KS4-Late">
                        <div class="govuk-radios__item app-radios-multiline__item">
                            <input class="govuk-radios__input" asp-for="SelectedKeyStage" id="SelectedKeyStage-KS4-Late" type="radio" value="kS4-Late">
                            <label class="govuk-label govuk-radios__label" for="SelectedKeyStage-KS4-Late">
                                Key stage 4
                                <span class="app-radios-multiline__label-row">Key stage 4 Late results</span>
                            </label>
                        </div>
                    </feature>
                    <feature name="KS5">
                        <div class="govuk-radios__item app-radios-multiline__item">
                            <input class="govuk-radios__input" asp-for="SelectedKeyStage" id="SelectedKeyStage-KS5" type="radio" value="kS5">
                            <label class="govuk-label govuk-radios__label" for="SelectedKeyStage-KS5">
                                16 to 18
                                <span class="app-radios-multiline__label-row">16 to 18 September checking exercise</span>
                            </label>
                        </div>
                    </feature>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
    </div>
</div>
</form>
