@using Dfe.Rscd.Web.Infrastructure.Models
@model Dfe.Rscd.Web.ApiClient.Question

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <p>
        @HtmlEncoder.Encode(Model.HelpTextHtml)
    </p>
</div>
</div>
@{
    // JON, I still need to do the remove file bit, but you can get going on the rest.
    // There are some validation on Evidence that you can implement in the controller and I can refactor it.
    // Check through Explain, Evidence and the Boolean partials for validation hooking up. Some missing, but in Model.
}
@if (Model.FileNames != null)
{
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-!-font-size-16 " id="upload-file-list">
            @foreach (var file in Model.FileNames)
            {
                <li>@file | remove-link </li>
            }
        </ul>
    </div>
</div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="app-upload__files-container">
        <div class="govuk-form-group app-upload__element">
            <label class="govuk-label">
                "Upload"
            </label>
            <input class="govuk-file-upload" type="file" name="evidence" id="evidence">
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <input type="submit" class="govuk-button" data-module="govuk-button" value="Upload" id="upload-button-next" />
    </div>
</div>

@{
    //<script webpack-src="submit-evidence"></script>
}
