@model Dfe.Rscd.Web.ApiClient.Question
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                @Model.Title
            </h1>
        </legend>
        <label class="govuk-label" for="sort">
            @Model.Answer.Label
        </label>
        <select class="govuk-select" id="select" name="select">
            <option value="">Please select</option>
            @foreach (var potential in Model.Answer.AnswerPotentials)
            {
                <option value="@potential.Value">@potential.Description</option>
            }
        </select>
    </fieldset>
</div>

