@model Dfe.Rscd.Web.ApiClient.Prompt
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="listbox">
            @Model.PromptText
        </label>
    </h1>
    <input class="govuk-input" id="listbox" name="listbox" type="text">
</div>
