@model Dfe.Rscd.Web.ApiClient.Question
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="number">
            @Model.Answer.Label
        </label>
    </h1>
    <input class="govuk-input" id="number" name="number" type="text">
</div>
